body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

#taskForm,
#updateForm {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

input {
  margin: 5px 0;
}

#taskForm div {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: yellow;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
}

button {
  padding: 10px 0;
  margin-top: 10px;
  width: 100%;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
  padding: 10px;
  border: 1px solid #007bff;
}

#taskListsContainer {
  line-height: 30px;
  width: 100%;
}
